<!DOCTYPE html>
<html>

<head>
    <title>I.A to Jur</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <span class="logo-text" id="ia-text">IA</span><span class="logo-text" id="advogado-text">dvogado</span>
        </div>
    </header>
    <form id="myForm">
        <label for="texto">Deixe o nosso Advogado Virtual criar sua petição!</label><br>
        <label for="texto">Descreva o seu caso:</label><br>
        <textarea id="texto" name="texto" rows="4" cols="50" placeholder="Digite aqui"></textarea><br><br>
        <input type="button" value="Gerar Documento" onclick="enviarTexto()" id="submitButton">
        <p id="loadingMessage">O documento está sendo gerado. Por favor, aguarde...</p>
        <a href="#" id="downloadLink">Download do Documento</a>
    </form>

    <script>
        function enviarTexto() {
            var texto = document.getElementById("texto").value;
            var submitButton = document.getElementById("submitButton");
            var loadingMessage = document.getElementById("loadingMessage");
            var downloadLink = document.getElementById("downloadLink");

            submitButton.style.display = "none"; // Oculta o botão
            loadingMessage.style.display = "block"; // Exibe a mensagem de carregamento

            fetch('http://127.0.0.1:5000/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain'
                },
                body: texto
            })
                .then(response => {
                    loadingMessage.style.display = "none"; // Esconde a mensagem de carregamento
                    downloadLink.style.display = "inline-block"; // Exibe o link de download
                    downloadLink.addEventListener('click', function () {
                        // Redireciona para o link do documento
                        window.location.href = 'http://127.0.0.1:5000/download'; // Substitua com o caminho real do seu documento
                    });
                })
                .catch(error => console.log('Erro:', error));
        }
    </script>
</body>

</html>